.global {
  --primaryColor: #0077B5;
  --secondaryColor:#EDF5E1; 
  --borderColor:#74AC1C;
  --buttonColor:#74AC1C;
  --cardColor:#EAFAFF;
  --cardImageColor: #FFF4EB;
  --cardDownbarColor:#EAFAFF;
  --fontColor:white;
  --iconColor:white;
  --fontStyle:Montserrat, sans-serif;
  --LogofontStyle:Caveat Brush, cursive;
  --fontSize:.8rem;
  }